:root {
  --text-color: #FFFFFF; // var(--text-color);
  --subtext-color: #727272; // var(--subtext-color);
  --primary-color: #E91E63; // var(--primary-color);
  --dark-primary-color: #C2185B; // var(--dark-primary-color);
  --light-primary-color: #F8BBD0; // var(--light-primary-color);
  --accent-color: #B6B6B6; // var(--accent-color);
}

body {
  font-size: 18px;
  margin-top: 50px;
}

.ui.segment.primary-color {
  background-color: #C2185B; // var(--dark-primary-color);
}

main {
  min-height: 600px;
}

header[role=banner] nav.menu  .brand.header {
  color: #FFFFFF;// var(--text-color);
  background-color: #E91E63;// var(--primary-color);
}

header[role=banner] nav.menu a.link {
  color: #727272; // var(--subtext-color);
}

footer[role="contentinfo"] {
  padding-top: 50px;
}
