---
layout: "page"
title: "Home"
id: "homepage"
---
<section class="ui basic segment">
  <h1 class="heading">
    Posts
  </h1>

  <ul class="posts ui items">
    {% for post in site.posts %}
      <li class="post item" data-title="{{ post.title }}" data-authors="{{ post.authors | map: 'name' | join: ', ' }}" data-timestamp="{{ post.date }}">
        <article class="content">
          <header class="header">
            <h2 class="title">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
          </header>

          <p class="summary">
            {{ post.summary }}
          </p>

          <p class="extra authors">
            <small>Written by {% for author in post.authors %}<a href="mailto:{{ author.email }}">{{ author.name }}</a>{% endfor %}.</small>
          </p>

          <p class="extra timestamp">
            <small><em>last updated <time>{{ post.date | date: "%Y/%m/%d" }}</time></em></small>
          </p>
        </article>
      </li>
    {% endfor %}
  </ul>
</section>
