<footer role="contentinfo" class="ui primary-color vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui container center aligned segment">
      <section id="information" class="ui horizontal list">
        <h1 class="active item">
          Information
        </h1>

        <div class="item">
          <ul class="ui link horizontal list">
            <h2 class="active item">
              Internal
            </h2>
            {% for link in site.links reversed %}
              <a class="item" href="{{ link.url }}">{{ link.name }}</a>
            {% endfor %}
          </ul>
        </div>

        <div class="item">
          <ul class="ui link horizontal list">
            <h2 class="active item">
              External
            </h2>
            {% for profile in site.profiles %}
              <a class="item" rel="profile" href="{{ profile.url }}">{{ profile.name }}</a>
            {% endfor %}
          </ul>
        </div>
      </section>
    </div>

    <section id="legal" class="ui segment container">
      <h2 class="header">
        Legal
      </h2>

      <p id="disclaimer">
        Cookie topping cookie gummi bears jelly caramels bonbon chocolate bar
        muffin. Cake pastry cake lemon drops liquorice sweet roll carrot cake
        cheesecake.
      </p>

      <p id="copyright">
        {{ site.title }}
        by <a rel="author" href="{{ site.url }}" >{{ site.owner }}</a>
        is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        Based on a work at <a rel="source" href="{{ site.github }}">{{ site.github }}</a>.
      </p>
    </section>

    <section id="logo" class="ui basic center aligned segment container">
      <picture id="logo" class="ui small circular image">
        <img class="logo" src="{{ site.logo }}" alt="Logo image">
      </picture>
    </section>
  </div>
</footer>
